.app-privacy-content-section {
    text-align: start;
}

/* Media Queries */
@media (orientation: landscape) {
    .app-privacy-main-container {
        max-width: var(--content-max-width-xs);
        margin-inline: auto;
    }
}