.app-page-main-container {
  max-width: var(--content-max-width-xs);
  margin-inline: auto;
}

.app-description p,
li {
  text-align: start;
}

.apps-page-app-item {
  padding-bottom: var(--space-m);
}

.screenshots-gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  padding: var(--space-l) 0;
}

.screenshot-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.screenshot-item {
  position: relative;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.screenshot-image {
  width: 100%;
  height: auto;
  opacity: 0;
  object-fit: contain;
  transition: opacity 0.3s ease-in-out;
}

.device-bezel {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.device-bezel-image {
  width: 100%;
  height: auto;
  opacity: 1;
  object-fit: contain;
}

.screenshots-missing {
  width: 100%;
  padding: var(--space-l) 0;
  color: var(--text-secondary-color);
  border-radius: var(--border-radius-m);
  border-color: var(--divider-color);
  border-style: dashed;
  border-width: var(--border-width-bold);
}

.badges-container {
  margin: var(--space-l) 0;
}

.badges {
  display: flex;
  justify-content: center;
  gap: var(--space-l);
}

#app-store-link img,
#google-play-link img,
#product-hunt-container img {
  display: block;
  margin: 0 auto;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: var(--space-s);
  margin-top: var(--space-l);
}

/* Media Queries */
@media (orientation: landscape) {
  .app-page-app-icon {
    width: var(--icon-size-l);
    height: var(--icon-size-l);
  }

  .badges img {
    height: var(--badge-height-landscape);
  }

  .screenshots-gallery {
    gap: var(--space-l);
  }
}

@media (orientation: portrait) {
  .app-page-app-icon {
    display: none;
  }

  .badges img {
    height: var(--badge-height-portrait);
  }

  .badges {
    flex-direction: column;
    gap: var(--space-l);
  }

  .screenshots-gallery {
    flex-wrap: wrap;
    gap: 20px;
  }
}
