.apps-page-main-grid-container {
  display: grid;
  margin-inline: auto;
}

.apps-page-app-title {
  margin-bottom: 0;
}

.apps-page-filter-checkbox {
  display: flex;
  gap: var(--space-s);
  align-items: center;
  justify-content: center;
  padding: var(--space-l);
  cursor: pointer;
}

.apps-page-filter-checkbox input {
  cursor: pointer;
}

@media (orientation: landscape) {
  .apps-page-main-grid-container {
    grid-template-columns: repeat(7, 1fr);
    gap: var(--space-l);
    max-width: var(--content-max-width-l);
  }

  .apps-page-app-icon {
    width: var(--icon-size-l);
    height: var(--icon-size-l);
  }
}

@media (orientation: portrait) {
  .apps-page-main-grid-container {
    grid-template-columns: repeat(4, 1fr);
    gap: var(--space-m);
  }

  .apps-page-app-icon {
    width: var(--icon-size-m);
    height: var(--icon-size-m);
  }
}
