.apps-grid-container {
    display: grid;
    margin-inline: auto;
}

.apps-app-title {
    margin-bottom: 0;
}

.filter-checkbox {
    padding: var(--space-l);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-s);
    cursor: pointer;
}

.filter-checkbox input {
    cursor: pointer;
}

@media (orientation: landscape) {
    .apps-grid-container {
        max-width: var(--content-max-width-l);
        grid-template-columns: repeat(7, 1fr);
        gap: var(--space-l)
    }

    .apps-page-app-icon {
        width: var(--icon-size-l);
        height: var(--icon-size-l);
    }
}

@media (orientation: portrait) {
    .apps-grid-container {
        grid-template-columns: repeat(4, 1fr);
        gap: var(--space-m)
    }

    .apps-page-app-icon {
        width: var(--icon-size-m);
        height: var(--icon-size-m);
    }
}