body {
  margin: var(--space-l) auto;
  background-color: var(--body-background-color);
  text-align: center;
  font-family: system-ui;
}

@media (orientation: portrait) {
  body {
    margin-inline: 20px;
  }
}
