:root {
    --body-background-color: #F0F4F8;
    --text-primary-color: #1A202C;
    --text-secondary-color: #718096;
    --divider-color: #CBD5E0;

    --btn-background-color: #4299E1;
    --btn-background-color-hover: #3182CE;
    --btn-text-color: #FFFFFF;

    /* Стили для иконок */
    --app-icon-border-color: rgba(0, 0, 0, 0.1);
    --app-icon-gradient-top: rgba(255, 255, 255, 0);
    --app-icon-gradient-bottom: rgba(0, 0, 0, 0.05);

    /* Стили для карточек */
    --card-background-color: #FFFFFF;

    /* Стили для диаграммы на странице продаж */
    --app-store-segment-color: #4299E1;
    --flippa-segment-color: #48BB78;
}

@media (prefers-color-scheme: dark) {
    :root {
        --body-background-color: #1A202C;
        --text-primary-color: #F7FAFC;
        --text-secondary-color: #A0AEC0;
        --divider-color: #4A5568;

        --btn-background-color: #2B6CB0;
        --btn-background-color-hover: #2C5282;
        --btn-text-color: #F7FAFC;

        --app-icon-border-color: rgba(255, 255, 255, 0.1);
        --app-icon-gradient-top: rgba(255, 255, 255, 0);
        --app-icon-gradient-bottom: rgba(255, 255, 255, 0.05);

        --card-background-color: #2D3748;

        /* Стили для диаграммы на странице продаж в темной теме */
        --app-store-segment-color: #3182CE;
        --flippa-segment-color: #38A169;
    }
}