body {
    background-color: rgb(255 255 255);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
    color: rgb(0 0 0);
}

.title h3 {
    color: rgb(60 60 67 / 60%);
}

a {
    color: rgb(0 122 255);
    color: color(display-p3 0.000000 0.478431 1.000000 / 1.000000);
}

.apps-app-icon,
.app-icon img,
.divider {
    color: rgb(0 0 0 / 15%);
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: rgb(0 0 0);
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    li {
        color: rgb(255 255 255);
    }
    
    .title h3 {
        color: rgb(235 235 245 / 60%);
    }
    
    a {
        color: rgb(10 132 255);
        color: color(display-p3 0.039216 0.517647 1.000000 / 1.000000);
    }
    
    .app-icon img,
    .divider {
        color: rgb(255 255 255 / 25%);
    }
}
