.link-button {
  display: inline-block;
  padding: 0.75rem 1.25rem;
  color: var(--btn-text-color);
  text-align: center;
  background-color: var(--btn-blue-background-color);
  border-radius: 9999px;
  transition: background-color 0.3s ease;
}

.link-button:hover {
  background-color: var(--btn-blue-background-color-hover);
}

.divider {
  color: var(--divider-color);
  border: var(--border-width-medium);
  border-style: solid;
}

.app-icon-apps-page,
.app-icon-app-page,
.app-icon-chart-bar img,
.app-icon-chart-bar-bundle {
  aspect-ratio: 1 / 1;
  background: linear-gradient(
    to bottom,
    var(--app-icon-gradient-top-color),
    var(--app-icon-gradient-bottom-color)
  );
  border-color: var(--app-icon-border-color);
  border-style: solid;
  border-width: var(--border-width-bold);
  border-radius: var(--border-radius-icon);
}
