.btn-link {
  display: inline-block;
  padding: 0.75rem 1.25rem;
  color: var(--btn-text-color);
  text-align: center;
  text-decoration: none;
  background-color: var(--btn-blue-background-color);
  border-radius: 9999px;
  transition: background-color 0.3s ease;
}

.btn-link:hover {
  text-decoration: none;
  background-color: var(--btn-blue-background-color-hover);
}

.divider {
  color: var(--divider-color);
  border: var(--border-width-medium);
  border-style: solid;
}

.apps-page-app-icon,
.app-page-app-icon,
.chart-bar-app-icon img,
.chart-app-bundle-placeholder {
  aspect-ratio: 1 / 1;
  background: linear-gradient(
    to bottom,
    var(--app-icon-gradient-top),
    var(--app-icon-gradient-bottom)
  );
  border-color: var(--app-icon-border-color);
  border-style: solid;
  border-width: var(--border-width-bold);
  border-radius: var(--border-radius-icon);
}
