.btn-link {
    display: inline-block;
    padding: 0.75rem 1.25rem;
    background-color: var(--btn-blue-background-color);
    color: var(--btn-text-color);
    text-align: center;
    text-decoration: none;
    border-radius: 9999px;
    transition: background-color 0.3s ease;
}

.btn-link:hover {
    background-color: var(--btn-blue-background-color-hover);
    text-decoration: none;
}


.divider {
    color: var(--divider-color);
    border: var(--border-width-medium);
    border-style: solid;
}

.apps-page-app-icon,
.app-page-app-icon,
.chart-bar-app-icon img,
.chart-app-bundle-placeholder {
    aspect-ratio: 1 / 1;
    border-style: solid;
    border-color: var(--app-icon-border-color);
    border-radius: var(--border-radius-icon);
    border-width: var(--border-width-bold);
    background: linear-gradient(to bottom, var(--app-icon-gradient-top), var(--app-icon-gradient-bottom));
}