.home-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  text-align: center;
}

.home-links-container {
  display: flex;
  flex-direction: column;
  gap: var(--space-l);
}