:root {
    --spacing-ultra-large: 4rem;
    --spacing-large: 2rem;
    --spacing-medium: 1rem;
    --spacing-small: 0.5rem;
    --spacing-ultra-small: 0.25rem;
    
    --border-width-bold: 1px;
    --border-width-medium: 0.5px;
    --border-width-thin: 0.25px;

    --corner-radius: 10px;

    --icon-size-landscape: 75px;
    --icon-size-portrait: 60px;

    --badge-height-landscape: 50px;
    --badge-height-portrait: 50px;
}

/* Base Styles */
body {
    background-color: var(--body-background-color);
    margin: var(--spacing-large) auto;
    text-align: center;
    font-family: system-ui;
}

/* Components */
.btn-link {
    display: inline-block;
    padding: 0.75rem 1.25rem;
    background-color: var(--btn-background-color);
    color: var(--btn-text-color);
    text-align: center;
    text-decoration: none;
    border-radius: 9999px;
    transition: background-color 0.3s ease;
}

.btn-link:hover {
    background-color: var(--btn-background-color-hover);
}

.apps-app-icon,
.app-icon img {
    aspect-ratio: 1 / 1;
    border-width: 1px;
    border-style: solid;
    border-color: var(--app-icon-border-color);
    border-radius: 22%;
    background: linear-gradient(to bottom, var(--app-icon-gradient-top), var(--app-icon-gradient-bottom));
}

/* Links Styling */
a,
.footer-links a,
.apps-app-link a {
    text-decoration: none;
}

.btn-link:hover,
.apps-app-link a:hover {
    text-decoration: none;
}

a:hover,
.footer-links a:hover {
    text-decoration: underline;
}

/* Layout & Structure */
.app-description p,
li,
.app-privacy-content-section {
    text-align: start;
}

.app-item {
    /*border-style: solid;*/
    padding-bottom: var(--spacing-medium);
}

.apps-app-title {
    margin: var(--spacing-small);
}

.screenshots-gallery {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    padding: var(--spacing-large) 0;
}

.screenshot-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.screenshot-item {
    position: relative;
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.screenshot-image {
    width: 100%;
    height: auto;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    object-fit: contain;
}

.device-bezel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.device-bezel-image {
    width: 100%;
    height: auto;
    object-fit: contain;
    opacity: 1;
}

.screenshots-missing {
    width: 100%;
    border-width: var(--border-width-bold);
    border-style: dashed;
    border-color: var(--divider-color);
    color: var(--text-secondary-color);
    padding: var(--spacing-large) 0;
    border-radius: var(--corner-radius);
}

.badges-container {
    margin: var(--spacing-large) 0;
}

.badges {
    display: flex;
    justify-content: center;
    gap: var(--spacing-large);
}

#app-store-link img,
#google-play-link img,
#product-hunt-container img {
    display: block;
    margin: 0 auto;
}

.home-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    text-align: center;
}

.home-links {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-large);
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: var(--spacing-small);
    margin-top: var(--spacing-large);
}

.filter-checkbox {
    padding: var(--spacing-large);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-small);
    cursor: pointer;
}

.filter-checkbox input {
    cursor: pointer;
}

.divider {
    color: var(--divider-color);
    border: var(--border-width-medium);
    border-style: solid;
}

.apps-grid-container {
    display: grid;
}

/* Media Queries */
@media (orientation: landscape) {
    .apps-app-icon,
    .app-icon img {
        width: auto;
        height: var(--icon-size-landscape);
    }

    .badges img {
        height: var(--badge-height-landscape);
    }

    .screenshots-gallery {
        gap: var(--spacing-large);
    }

    .apps-grid-container {
        max-width: 1250px;
        margin-left: auto;
        margin-right: auto;
        grid-template-columns: repeat(7, 1fr);
        gap: var(--spacing-small)
    }

    .app-container,
    .app-privacy-container {
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (orientation: portrait) {
    body {
        margin-inline: 20px;
    }

    .apps-app-icon {
        width: auto;
        height: var(--icon-size-portrait);
    }

    .app-icon img {
        display: none;
    }

    .badges img {
        height: var(--badge-height-portrait);
    }

    .badges {
        flex-direction: column;
        gap: var(--spacing-large);
    }

    .screenshots-gallery {
        gap: 20px;
        flex-wrap: wrap;
    }

    .apps-grid-container {
        grid-template-columns: repeat(4, 1fr);
    }
}