body,
.badges {
    margin-top: 50px;
}

body,
.title,
.badges {
    margin-bottom: 50px;
}

.apps-app-icon {
    width: 100px;
    height: 100px;
}

.apps-app-icon,
.app-icon img {
    aspect-ratio: 1 / 1;
    border-radius: 22%;
    border-width: 1px;
    border-style: solid;
}

.hero-device-group img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.screenshots-gallery {
    display: flex;
}

li {
    margin-bottom: 1em;
}

.badges {
    display: flex;
    align-items: center; /* Вертикальное выравнивание по центру (опционально) */
    justify-content: center;
    gap: 50px;
}

.app-icon img,
.badges img {
    width: auto;
    height: 50px;
}

.index-links {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.divider {
    border: 0.5px;
    border-style: solid;
}

.app-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.app-item {
    display: flex;
    flex-direction: column;
    align-items: center; /* Центрирование по горизонтали */
    text-align: center;
    text-decoration: none;
}

@media (orientation: landscape) {
    body {
        margin-inline: 25%;
        /* max-width: 800px; */
        /* margin-left: auto; */
        /* margin-right: auto; */
    }

    .screenshots-gallery {
        gap: 50px;
    }
}

@media (orientation: portrait) {
    body {
        margin-inline: 20px;
    }
    
    #app-container {
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        grid-gap: 15px;
    }
    
    .app-icon img {
        display: none;
    }
    
    .badges {
        flex-direction: column;
    }

    .screenshots-gallery {
        gap: 20px;
    }
}
