.units-and-sales-main-container {
    max-width: var(--content-max-width-xs);
    margin-inline: auto;
}

.units-container,
.sales-container {
    margin: var(--space-l) 0;
    background-color: var(--card-background-color);
    padding: var(--space-m);
    border-radius: var(--border-radius-m);
}

.sales-container {
    margin-top: var(--space-l);
}

.error-container {
    padding: var(--space-l) var(--space-m);
    background-color: var(--card-background-color);
    border-radius: var(--border-radius-m);
}

.error-container input {
    color: var(--text-primary-color);
}

.app-types-details {
    margin-top: var(--space-l);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--space-m);
}

.app-type-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: var(--space-s) var(--space-m);
    border-radius: var(--border-radius-s);
    background-color: var(--card-secondary-background-color);
    flex-grow: 1;
}

.app-type-title {
    margin-bottom: var(--space-s);
    margin-top: 0;
}

.sales-stats-grid {
    margin-top: var(--space-l);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--space-m);
}

.sales-stats-card {
    border-radius: var(--border-radius-s);
    background-color: var(--card-secondary-background-color);
    padding: 0 var(--space-m);
}

.sales-stats-row {
    display: flex;
    justify-content: space-between;
    margin: var(--space-m) 0;
    color: var(--text-primary-color);
}

.chart-legend {
    display: flex;
    justify-content: center;
    gap: var(--space-l);
    color: var(--text-secondary-color);
    margin-top: var(--space-xxl);
    margin-bottom: var(--space-xxl);
}

.chart-legend-item {
    display: flex;
    align-items: center;
    gap: var(--space-s);
}

.chart-legend-color {
    width: var(--bar-height);
    height: var(--bar-height);
    border-radius: var(--border-radius-icon);
    display: inline-block;
}

.chart-legend-color,
.chart-app-store-segment {
    background-color: var(--chart-app-store-segment-color);
}

.chart-legend-color,
.chart-flippa-segment {
    background-color: var(--chart-flippa-segment-color);
}

.chart-container,
.chart-sales-container {
    width: 100%;
}

.chart-bars-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.chart-row {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: var(--space-m);
    position: relative;
}

.chart-bar-label {
    position: relative;
    width: 100px;
    margin-right: var(--space-m);
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--text-primary-color);
    display: flex;
    align-items: center;
}

.chart-bar-value {
    max-width: 100px;
    margin-left: var(--space-m);
    text-align: left;
    color: var(--text-primary-color);
    white-space: nowrap;
}

.chart-bars-wrapper {
    display: flex;
    height: var(--bar-height);
    flex: 1;
    align-items: center;
}

.bar-segment {
    display: inline-block;
    height: var(--bar-height);
}

.chart-app-store-segment {
    background-color: var(--chart-app-store-segment-color);
}

.chart-flippa-segment {
    background-color: var(--chart-flippa-segment-color);
}

.chart-bar-app-icon {
    position: relative;
    margin-right: var(--space-m);
    display: flex;
    align-items: center;
    justify-content: center;
}

.chart-bar-app-icon img,
.chart-app-bundle-placeholder {
    width: var(--icon-size-s);
    height: var(--icon-size-s);
    vertical-align: middle;
    object-fit: contain;
}

.chart-dates-container {
    display: none;
    width: 130px;
    flex-direction: column;
    margin-left: var(--space-m);
}

.chart-date-item {
    text-align: left;
    color: var(--text-secondary-color);
    margin-bottom: var(--space-xs);
}

.chart-release-date {
    color: var(--chart-app-store-segment-color);
}

.chart-sale-date {
    color: var(--chart-flippa-segment-color);
}

@media (orientation: portrait) {
    .sales-stats-grid {
        grid-template-columns: 1fr;
    }
}