/* Стили для страницы Sales */

.units-and-sales-container {
    max-width: 800px;
    margin: 0 auto;
}

.units-container {
    margin: var(--space-l) 0;
    background-color: var(--card-background-color);
    padding: var(--space-m);
    border-radius: var(--border-radius-m);
}

/* Стили для контейнера с ошибкой */
.error-container {
    max-width: 800px;
    margin: var(--space-l) auto;
    padding: var(--space-l) 0;
    background-color: var(--card-background-color);
    border-radius: var(--border-radius-m);
}

.error-container input {
    color: var(--text-primary-color);
}

.app-types-details {
    margin-top: var(--space-l);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--space-m);
}

.app-type-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: var(--space-s) var(--space-m);
    border-radius: var(--border-radius-s);
    /*border: var(--border-width-bold);
    border-style: solid;
    border-color: var(--divider-color);*/
    background-color: var(--card-secondary-background-color);
}

.app-type-title {
    margin-bottom: var(--space-s);
    margin-top: 0;
}

.sales-container {
    margin-top: var(--space-l);
    background-color: var(--card-background-color);
    padding: var(--space-m);
    border-radius: var(--border-radius-m);
}

.stats-grid {
    margin-top: var(--space-l);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--space-m);
}

.stats-card {
    border-radius: var(--border-radius-s);
    /*border: var(--border-width-bold);
    border-style: solid;
    border-color: var(--divider-color);*/
    background-color: var(--card-secondary-background-color);
    padding: 0 var(--space-m);
}

.stats-row {
    display: flex;
    justify-content: space-between;
    margin: var(--space-m) 0;
    color: var(--text-primary-color);
}

/* Стили для легенды графика */
.chart-legend {
    display: flex;
    justify-content: center;
    gap: var(--space-l);
    color: var(--text-secondary-color);
    margin-top: var(--space-xxl);
    margin-bottom: var(--space-xxl);
}

.legend-item {
    display: flex;
    align-items: center;
    gap: var(--space-s);
}

.legend-color {
    width: var(--bar-height);
    height: var(--bar-height);
    border-radius: var(--icon-border-radius);
}

.chart-container {
    width: 100%;
}

.sales-chart-container {
    width: 100%;
}

/* Контейнер для баров */
.bars-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

/* Стили для строк графика */
.chart-row {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: var(--space-m);
    position: relative;
}

/* Стили для названия приложения */
.bar-label {
    position: relative;
    width: 100px;
    margin-right: var(--space-m);
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--text-primary-color);
}

/* Стили для значения */
.bar-value {
    max-width: 100px;
    margin-left: var(--space-m);
    text-align: left;
    color: var(--text-primary-color);
    /*font-weight: bold;*/
}

/* Контейнер для дат */
.dates-container {
    width: 130px;
    display: flex;
    flex-direction: column;
    margin-left: var(--space-m);
}

/* Стили для элементов дат */
.date-item {
    text-align: left;
    color: var(--text-secondary-color);
    margin-bottom: var(--space-xs);
}

/* Стили для даты релиза */
.release-date {
    color: var(--app-store-segment-color);
}

/* Стили для даты продажи */
.sale-date {
    color: var(--flippa-segment-color);
}

/* Контейнер для сегментов баров */
.bars-wrapper {
    display: flex;
    height: var(--bar-height);
    flex: 1;
}

/* Сегменты баров */
.bar-segment {
    display: inline-block;
    height: var(--bar-height);
}

.app-store-segment {
    background-color: var(--app-store-segment-color);
}

.flippa-segment {
    background-color: var(--flippa-segment-color);
}

/* Стили для иконок */
.bar-icon {
    position: relative;
    margin-right: 10px;
}

.bar-icon img {
    width: var(--icon-size-s);
    height: var(--icon-size-s);
    border-radius: var(--icon-border-radius);
    border: var(--border-width-medium);
    border-style: solid;
    border-color: var(--divider-color);
    background: linear-gradient(to bottom, var(--app-icon-gradient-top), var(--app-icon-gradient-bottom));
}

/* Заглушка для App Bundle */
.app-bundle-placeholder {
    width: var(--icon-size-s);
    height: var(--icon-size-s);
    border-radius: var(--icon-border-radius);
    background-color: var(--app-bundle-placeholder-color);
}

.dates-container {
    display: none;
}

.app-type-item {
    flex-grow: 1;
}

/* Адаптивность для мобильных устройств */
@media (orientation: portrait) {
    .stats-grid {
        grid-template-columns: 1fr;
    }
}