/* Typography */
p {
    color: var(--text-primary-color);
}

h1 {
    color: var(--text-primary-color);
    /* bold */
    font-weight: 700;
}

h2 {
    color: var(--text-primary-color);
    font-weight: 600;
}

h3 {
    color: var(--text-primary-color);
    font-weight: 500;
}

.secondary-text {
    color: var(--text-secondary-color);
}

h4 {
    color: var(--text-primary-color);
    /* normal */
    font-weight: 400;
}

a {
    color: var(--link-color);
}

.date-item {
    /* 10px */
    font-size: 0.625rem;
}

/* Media Queries */
@media (orientation: landscape) {
    p {
        line-height: 1.5;
    }

    .apps-grid-container p {
        /* 14px */
        font-size: 0.875rem;
    }
}

@media (orientation: portrait) {
    .apps-grid-container p {
        /* 12px */
        font-size: 0.75rem;
    }
}