p,
span,
label,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-primary-color);
}

h1 {
  font-weight: 700; /* bold */
}

h2 {
  font-weight: 600; /* semibold */
}

h3 {
  font-weight: 500; /* medium */
}

h4 {
  font-weight: 400; /* normal */
}

h5 {
  font-weight: 300; /* light */
}

h6 {
  font-weight: 200; /* extra light */
}

a {
  color: var(--link-color);
}

a,
.app-page-footer-links a,
.apps-page-app-link a {
  text-decoration: none;
}

.apps-page-app-link a:hover {
  text-decoration: none;
}

a:hover,
.app-page-footer-links a:hover {
  text-decoration: underline;
}

.apps-page-footer label,
.app-page-main-container h3,
.app-privacy-main-container h3 {
  color: var(--text-secondary-color);
}

@media (orientation: landscape) {
  p {
    line-height: 1.5;
  }

  .apps-page-main-grid-container p {
    font-size: 0.875rem; /* 14px */
  }
}

@media (orientation: portrait) {
  .apps-page-main-grid-container p {
    font-size: 0.75rem; /* 12px */
  }
}