body {
    text-align: center;
    font-family: system-ui;
}

h1 {
    color: var(--text-color);
    font-weight: 700; /* bold */
}

h2 {
    color: var(--text-color);
    font-weight: 600;
}

h3 {
    color: var(--text-color);
    font-weight: 500;
}

.title h3 {
    color: var(--secondary-text-color);
}

h4 {
    color: var(--text-color);
    font-weight: 400; /* normal */
}

a {
    color: var(--link-color);
    /*text-decoration: none;*/
}

.screenshots-missing {
    font-size: 1.2rem;
}

.footer-links a {
    /*font-weight: 300;
    font-size: 13px; */
}

.app-description p, li,
.app-privacy-title,
.app-privacy-content-section {
    text-align: start;
}

.apps-app-title {
    margin-top: 5px;
}

/* Remove underline from app links on the apps page */
a.apps-app-link {
    text-decoration: none;
}

@media (orientation: landscape) {
    p {
        line-height: 1.5;
    }

    .app-list-container p {
        font-size: 14px;
    }
}

@media (orientation: portrait) {
    .app-list-container p {
        font-size: 12px;
    }
}
