/* Typography */
p {
    color: var(--text-primary-color);
}

h1 {
    color: var(--text-primary-color);
    font-weight: 700; /* bold */
}

h2 {
    color: var(--text-primary-color);
    font-weight: 600;
}

h3 {
    color: var(--text-primary-color);
    font-weight: 500;
}

.secondary-text {
    color: var(--text-secondary-color);
}

h4 {
    color: var(--text-primary-color);
    font-weight: 400; /* normal */
}

a {
    color: var(--link-color);
}

/* Media Queries */
@media (orientation: landscape) {
    p {
        line-height: 1.5;
    }

    .apps-grid-container p {
        font-size: 0.875rem; /* 14px */
    }
}

@media (orientation: portrait) {
    .apps-grid-container p {
        font-size: 0.75rem; /* 12px */
    }
}