:root {
  /* Цвета: светлая тема (sRGB fallback) */
  /* CSS Color Names Sorted by Lightness and Hue http://davidbau.com/colors/ */
  --body-background-color: white;
  --card-background-color: rgba(0 0 0 / 0.05);

  --text-primary-color: black;
  --text-secondary-color: gray;

  /*iOS System Blue*/
  --link-color: rgb(0 122 255);
  --btn-blue-background-color: rgb(0 122 255);
  --btn-blue-background-color-hover: rgb(0 122 255 / 80%);

  --btn-text-color: white;

  /*iOS System Cyan*/
  --app-store-segment-color: rgb(50 173 230);
  /*iOS System Green*/
  --flippa-segment-color: rgb(52 199 89);

  --app-bundle-placeholder-color: gray;

  --app-icon-border-color: rgb(0 0 0 / 5%);
  --divider-color: rgb(0 0 0 / 15%);

  /* Радиусы */
  --border-radius-m: 10px;
  --border-radius-s: 5px;
  --icon-border-radius: 22%;

  /* Размеры иконок */
  --icon-size-l: 4rem;
  --icon-size-m: 3.75rem;
  --icon-size-s: 2rem;

  /* Bars */
  --bar-height: 1rem;

  /* Высота бейджей */
  --badge-height-landscape: 3rem;
  --badge-height-portrait: 3rem;

  /* Отступы */
  --space-xxl: 4rem;
  --space-xl: 3rem;
  --space-l: 2rem;
  --space-m: 1rem;
  --space-s: 0.5rem;
  --space-xs: 0.25rem;
  --space-xxs: 0.125rem;

  /* Границы */
  --border-width-bold: 1px;
  --border-width-medium: 0.5px;
  --border-width-thin: 0.25px;
}

/* 💡 Расширенные цвета (display-p3) */
@supports (color: color(display-p3 1 1 1)) {
  :root {
    /*iOS System Blue*/
    --link-color: color(display-p3 0.039216 0.517647 1.000000 / 1.000000);
    --btn-blue-background-color: color(display-p3 0.039216 0.517647 1.000000 / 1.000000);
    --btn-blue-background-color-hover: color(display-p3 0.039216 0.517647 1.000000 / 0.8);

    /*iOS System Cyan*/
    --app-store-segment-color: color(display-p3 0.196078 0.678431 0.901961 / 1.000000);
    /*iOS System Green*/
    --flippa-segment-color: color(display-p3 0.203922 0.780392 0.349020 / 1.000000);
  }
}

/* 🌙 Тёмная тема: sRGB */
@media (prefers-color-scheme: dark) {
  :root {
    --body-background-color: black;
    --card-background-color: rgba(255 255 255 / 0.1);

    --text-primary-color: white;
    --text-secondary-color: gray;

    /*iOS System Blue*/
    --link-color: rgb(10 132 255);
    --btn-blue-background-color: rgb(10 132 255);
    --btn-blue-background-color-hover: rgb(0 102 204 / 80%);

    /*iOS System Cyan*/
    --app-store-segment-color: rgb(100 210 255);
    /*iOS System Green*/
    --flippa-segment-color: rgb(48 209 88);

    --app-bundle-placeholder-color: gray;

    --app-icon-border-color: black;
    --divider-color: rgb(255 255 255 / 25%);

    --app-icon-gradient-top: #313131;
    --app-icon-gradient-bottom: #151515;
  }
}

/* 🌙 Тёмная тема + p3 */
@media (prefers-color-scheme: dark) {
  @supports (color: color(display-p3 1 1 1)) {
    :root {
      /*iOS System Blue*/
      --link-color: color(display-p3 0.039216 0.517647 1.000000 / 1.000000);
      --btn-blue-background-color: color(display-p3 0.039216 0.517647 1.000000 / 1.000000);
      --btn-blue-background-color-hover: color(display-p3 0.039216 0.517647 1.000000 / 0.8);

      /*iOS System Cyan*/
      --app-store-segment-color: color(display-p3 0.392157 0.823529 1.000000 / 1.000000);
      /*iOS System Green*/
      --flippa-segment-color: color(display-p3 0.188235 0.819608 0.345098 / 1.000000);
    }
  }
}