body,
.badges {
    margin-top: 50px;
}

body,
.title,
.badges {
    margin-bottom: 50px;
}

.apps-app-icon,
.app-icon img {
    aspect-ratio: 1 / 1;
    border-radius: 22%;
    border-width: 1px;
    border-style: solid;
}

.hero-device-group img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.screenshots-gallery {
    display: flex;
}

li {
    margin-bottom: 1em;
}

.badges {
    display: flex;
    align-items: center; /* Вертикальное выравнивание по центру (опционально) */
    justify-content: center;
    gap: 50px;
}

.apps-app-icon,
.app-icon img,
.badges img {
    width: auto;
    height: 60px;
}

.index-links {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.divider {
    border: 0.5px;
    border-style: solid;
}

.app-list-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.app-item {
    display: flex;
    flex-direction: column;
    align-items: center; /* Центрирование по горизонтали */
    text-align: center;
    text-decoration: none;
}

@media (orientation: landscape) {
    body {
        /* margin-inline: 25%; */
        /* width: 100%; */
        /* max-width: 800px; */
        /* margin-left: auto; */
        /* margin-right: auto; */
    }

    .screenshots-gallery {
        gap: 50px;
    }

    .app-list-container {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        /*grid-template-columns: repeat(auto-fill, minmax(75px, 1fr));*/
        gap: 20px;
    }

    .app-container {
        width: 100%;
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (orientation: portrait) {
    body {
        margin-inline: 20px;
    }
    
    .app-icon img {
        display: none;
    }
    
    .badges {
        flex-direction: column;
    }

    .screenshots-gallery {
        gap: 20px;
    }

    .app-list-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr); 
    }
}
